/node_modules
/public/hot
/public/storage
/public/app.js
/public/login.js
/public/.css
/storage/*.key
/vendor

*.zip
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/*.zip
